body {
    background-color: black;
}

em {
    color: tomato;
}

.bob_box {
    background-color: rgba(107, 107, 107, 0.185);
    font-size: 1em;
    padding: 0 .5em 0 .5em;
    border-radius: 10px;
    display: block;
    align-self: center;
}

.box {
    align-self: center;
}

/* class for code highlighting */
.hljs {
    font-size: 1em;
    width: 42.3em;
    background: rgba(107, 107, 107, 0.185) !important;
    color: #ffffff !important;
    display: flex;
    align-self: center;
}

.hljs-type {
    color: rgb(39, 61, 185) !important;
}

.hljs-string {
    color: rgb(12, 82, 90) !important;
}

.hljs-built_in {
    color: #580b67 !important;
}

.container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    justify-content: center;
}

.container a {
    margin: 0 0.5em;
}

a {
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
}

p,
li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#logo {
    width: 70%;
    margin-bottom: 1em;
    transition: 0.01s;
    align-self: center;
}


#logo:hover {
    animation: sbb 1s linear infinite;
}

@keyframes sbb {
    0% {
        filter: hue-rotate(0deg) saturate(100%);
    }

    5% {
        filter: hue-rotate(90deg) saturate(100%);
    }

    10% {
        filter: hue-rotate(180deg) saturate(100%);
    }

    15% {
        filter: hue-rotate(270deg) saturate(100%);
    }

    20% {
        filter: hue-rotate(360deg) saturate(100%);
    }

    25% {
        filter: hue-rotate(450deg) saturate(100%);
    }

    30% {
        filter: hue-rotate(540deg) saturate(100%);
    }

    35% {
        filter: hue-rotate(630deg) saturate(100%);
    }

    40% {
        filter: hue-rotate(720deg) saturate(100%);
    }

    45% {
        filter: hue-rotate(810deg) saturate(100%);
    }

    50% {
        filter: hue-rotate(900deg) saturate(100%);
    }

    55% {
        filter: hue-rotate(990deg) saturate(100%);
    }

    60% {
        filter: hue-rotate(1080deg) saturate(100%);
    }

    65% {
        filter: hue-rotate(1170deg) saturate(100%);
    }

    70% {
        filter: hue-rotate(1260deg) saturate(100%);
    }

    75% {
        filter: hue-rotate(1350deg) saturate(100%);
    }

    80% {
        filter: hue-rotate(1440deg) saturate(100%);
    }

    85% {
        filter: hue-rotate(1530deg) saturate(100%);
    }

    90% {
        filter: hue-rotate(1620deg) saturate(100%);
    }

    95% {
        filter: hue-rotate(1710deg) saturate(100%);
    }

    100% {
        filter: hue-rotate(1800deg) saturate(100%);
    }
}

@media (max-width: 430px) {
    #logo {
        width: 100%;
    }

    .container {
        width: 90%;
        height: auto;
    }

    .hljs {
        font-size: 0.5em;
        /* width: 100%; */
    }

    .bob_box {
        color: white;
        width: 100%;
        font-size: .68em;
    }

    .container a {
        line-height: 3em;
    }

    #logo {
        max-width: 100%;
    }

    p {
        font-size: .8em;
        text-align: center;
    }
}
